.auth-form{
  background-color: white;
  border-radius: 16px;
  padding: 16px;
  margin-top: 3em;
  min-width: 320px;

}

.auth-form-wide{
  min-width: 480px;
}

.auth-head{
display: flex;
  justify-content: center;
}
.auth-btn-container{
  display: flex;
  justify-content: center;
  padding-bottom: 8px;
  padding-top: 8px;
}
.auth-btn{
  background-color: #60463B;
  color: white;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  padding: 8px;
}
.auth-btn:hover{
  background-color: transparent;
  color: #60463B;
  border: 1px solid #60463B;
}
.auth-btn-back{
  background-color: transparent;
  color: #60463B;
  border: 1px solid #60463B;
  border-radius: 8px;
  display: flex;
  justify-content: center;
  flex-grow: 1;
  text-decoration: none;
  padding: 8px;
  transition: 300ms;
}
.auth-btn-back:hover{
  background-color: #60463B;
  color: white;

}

