.form-container{
  width: 500px;
  background-color: white;
  border-radius: 16px;
  padding: 16px;
}
.back-button{
  margin-top: 16px;
  padding: 6px;
  border-radius: 8px;
  border: 1px solid #0D6EFD;
}
.back-button{
  text-decoration: none;
}