<%= simple_form_for [@pet, @booking] do |f| %>
    <%= f.input :start_date, as: :date, html5: true, class: "start-date" %>
    <%= f.input :end_date, as: :date, html5: true, class: "end-date" %>
    <div class="price-tag">

    </div>
    <div class="submit-form auth-btn-container">
        <%= f.button :submit, "Submit", class: 'auth-btn mt-3' %>
    </div>
  <% end %>
