<div class="container mt-3">
  <h1>Your Bookings</h1>
  <section class="grid-overview-section mb-5">
    <% @bookings.each do |booking| %>
      <div class="grid-overview-section-item">
        <%=render "shared/booking_card", booking: booking%>
      </div>
    <% end %>
  </section>
</div>
