<footer
  class="footer mt-4">
  <div class="footer-info">
    <p>Our Team:</p>
    <p>Lead Developer: Jan Roth</p>
    <p>Project Manager: Daniel Domingo</p>
    <p></p>
    <p>Back-end Developers:
      <span>Jan Roth, </span>
      <span>Daniel Domingo, </span>
      <span>Yu Chiang </span>
    </p>
    <p>Front-end Developers: Riznyk Leonid</p>
  </div>
  <div class="footer-credit d-flex justify-content-center align-items-center my-2">
    <span class=""><h5>2022 RENTAPet©</h5></span>
  </div>
</footer>
